{% load static %}

<!DOCTYPE html>
<html lang="ko">


    <head>
        <!--  헤드에는 사용자에게 보여지지 않는 온갖것들 :검색결과에 보여지기를 바라는 키워드, 설명이나 CSS스타일, utf-8등의 캐릭터 세팅 등을 담는다 -->
        <meta charset="utf-8" />
        <!-- 이거를 꼭 달아야 나중에 문제가 안된다. 캐릭터 세팅은 다른 타입은 신경 안써도 된다 -->
        <a href="{% url 'post_list' %}">
        <!-- 홈으로 돌아가는 기능 <a href="post_list.html">이라고 하면 왜 안됨? -->

        </a>
        
        <title> PySon 블로그</title>
        <!-- 마우스커서를 올리면 나타나는 title 즐겨찾기를 할때도 이 제목으로 표시됨-->
        
       <!--부트스트랩 공식 예제 https://getbootstrap.com/docs/4.0/getting-started/introduction/#starter-template-->

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">     
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">

        <link rel="stylesheet" href="{% static "blog/blog.css" %}"" />



    </head>
    <body>
            <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu">
                <span class="glyphicon glyphicon-pencil"></span>
                </a>
            {% endif %}
          <h1><a href="{% url 'post_list' %}">PySon Blog</a></h1>
            </div>
                <div class="content container">
                    <div class="row">
                        <div class="col-md-8">
                        {% block content %}                        
                        {% endblock %}                        
                        </div>
                    </div>
                </div>
        </body>
    </html>