{% load staticfiles %}

<!-- base.html파일은 직접 사용하는게 아니라 모든 페이지에 공통으로 상속하려고 만드는 일종의 클래스 화면 -
실제 page에서 extends "blog/base.html" 로 상속해서 사용한다->

<html>
    <head>
        <!--  헤드에는 사용자에게 보여지지 않는 온갖것들 :검색결과에 보여지기를 바라는 키워드, 설명이나 CSS스타일, utf-8등의 캐릭터 세팅 등을 담는다 -->
        <meta charset="utf-8" />
        <!-- 이거를 꼭 달아야 나중에 문제가 안된다. 캐릭터 세팅은 다른 타입은 신경 안써도 된다 -->

        <a href="{% url 'post_list' %}">
        <!-- 홈으로 돌아가는 기능 <a href="post_list.html">이라고 하면 왜 안됨? -->
        <img src="https://w.namu.la/s/966c3229e07161986db0c94945435b5ddcbb1c6e2a43a8ec8cc52ee79e16f560749626d1e9db340fd2db0c36121165401c46b5b2750062800ab1f26c2a75031992594e1a461661e3b000fb6dbb0602a560294b1f928fe2fa0759652b06f7bf8e" width="210px">
        </a>
        
        <title> PySon 블로그</title>
        <!-- 마우스커서를 올리면 나타나는 title 즐겨찾기를 할때도 이 제목으로 표시됨-->
        
        <!-- <link rel="shortcut icon" href="~~~이렇게 해서 파비콘을 쓸수도 있음 -->
        <!-- <link rel="스타일시트" href="CSS파일명"을 헤드에 써서 스타일시트사용-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">     
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
        <link rel="stylesheet" href="{% static "blog/blog.css" %}"" />       
        
        
    </head>
    <body>
    {% include "blog/nav.html" %}
            <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu">
                <span class="glyphicon glyphicon-pencil"></span>
                </a>
            {% endif %}
          <h1><a href="{% url 'post_list' %}">PySon Blog</a></h1>
            </div>
                <div class="content container">
                    <div class="row">
                        <div class="col-md-8">
                        {% block content %}                        
                        {% endblock %}                        
                        </div>
                    </div>
                </div>
        </body>
    </html>