{% extends "blog/base.html" %}

{% block content %}
<a href="{% url 'export_posts_csv' %}">글목록 다운로드</a>
    {% for post in post_list %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>
                    </div>
                    <h1>
                        <a href="{% url "post_detail" post.pk %}">
                        {{ post.title }}
                        </a>
                    </h1>

        </div>
    {% endfor %}
{% endblock %}