{% extends "blog/base.html" %}

{% block content %}
<h3><a href="{% url 'post_import' %}">엑셀 대량 업로드                         </a></h3>
<h3><a href="{% url 'export_posts_excel' %}">글목록 다운로드</a></h3>
<h2>접속자 {{ request.user }}</h2>
<h2><a href="{% url "namu_search_view" %}">나무서치</h2>
    <div>
    {% for post in post_list %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>                
            <!-- models.py의 post클래스의 published_date 속성 -->
                    </div>
                    <h1>
                        <a href="{% url "post_detail" post.pk %}">
             <!-- 일반적인 html에서는 <a href="post_detail.html">과 같이 하이퍼링크를 단다고 모질라에서 알려줌, 장고에서는 위와 같이 해서 브라우저에서 보여질때는 감춰버림-->
                        {{ post.title }}
             <!-- models.py의 post클래스의 title 속성 -->
                        </a>
                    </h1>
                    <h4><p>written: {{ post.author }} </p></h4>
        </div>
    {% endfor %}
    </div>
{% endblock %}